---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Ministries">
  <section class="container-x py-14 md:py-20">

    <!-- Header -->
    <div class="text-center max-w-3xl mx-auto">
    
      <h1 class="mt-2 text-3xl md:text-5xl font-medium">Life at The Life Place</h1>
      
        <!-- Slogan under heading -->
        <p class="mt-6 text-lg sm:text-2xl text-center text-gray-700">
          Come. See. <span class="text-[#B3282D]">Jesus
        </p>
      
      <p class="mt-4 text-lg md:text-xl text-gray-700">
        Our ministries are designed to help people grow in Jesus, build strong families,
        and live out their faith in every sphere of life.
      </p>
    </div>


  <!-- Scripture footer -->
  <div class="border-t mt-16 pt-10 text-center max-w-2xl mx-auto">
    <blockquote class="text-xl italic text-gray-800">
      “I came that they may have and enjoy life and have it in abundance (to the full, till it overflows)”
    </blockquote>
    <p class="mt-2 text-gray-600">John 10:10 AMP</p>
  </div>
</BaseLayout>

