---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Color Test">
  <section class="container-x py-14 md:py-20 text-center">
    <h1 class="text-4xl font-bold text-[#B3282D]">Color Test Page</h1>
    <p class="mt-6 text-xl text-warmgray">
      This is using the new warm gray <code>#B0B2B1</code>.
    </p>
  </section>
</BaseLayout>